div.layout {
  width: 100%;

  & > .header {
    padding: 16px;
    background: #ececec;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 

    & > .ci {

    }

    & > .navigation {
      display: flex;
    }
  }

  & > .content {
    max-width: 960px;
    padding: 16px;
    margin: 0 auto;
    margin-top: 36px;
  }

  & > .footer {

  }
  
}