@font-face {
  font-family: 'Gotham';
  src: url('gotham/xlight/gotham-xlight-webfont.woff2') format('woff2'),
       url('gotham/xlight/gotham-xlight-webfont.woff') format('woff'),
       url('gotham/xlight/gotham-xlight-webfont.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('gotham/light/gotham-light-webfont.woff2') format('woff2'),
       url('gotham/light/gotham-light-webfont.woff') format('woff'),
       url('gotham/light/gotham-light-webfont.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('gotham/medium/gotham-medium-webfont.woff2') format('woff2'),
       url('gotham/medium/gotham-medium-webfont.woff') format('woff'),
       url('gotham/medium/gotham-medium-webfont.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('gotham/bold/gotham-bold-webfont.woff2') format('woff2'),
       url('gotham/bold/gotham-bold-webfont.woff') format('woff'),
       url('gotham/bold/gotham-bold-webfont.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('gotham/black/gotham-black-webfont.woff2') format('woff2'),
       url('gotham/black/gotham-black-webfont.woff') format('woff'),
       url('gotham/black/gotham-black-webfont.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Book';
  src: url('gotham/book/gotham-book-webfont.woff2') format('woff2'),
       url('gotham/book/gotham-book-webfont.woff') format('woff'),
       url('gotham/book/gotham-book-webfont.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}