.basset-container {
  margin: 0 auto;
  width: 360px;

  & > article.business {
    margin-top: 16px;
    position: relative;
    background: #efefef;
    padding: 16px;
    text-align: center;

    & > * {
      margin-bottom: 16px;
    }

    & > aside {
      position: absolute;
    }
  }

  & > footer {
    margin-top: 16px;
    text-align: center;
  }
}