@font-face {
  font-family: 'Gotham';
  src: url('/fonts/gotham/xlight/gotham-xlight-webfont.woff2') format('woff2'),
       url('/fonts/gotham/xlight/gotham-xlight-webfont.woff') format('woff'),
       url('/fonts/gotham/xlight/gotham-xlight-webfont.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('/fonts/gotham/light/gotham-light-webfont.woff2') format('woff2'),
       url('/fonts/gotham/light/gotham-light-webfont.woff') format('woff'),
       url('/fonts/gotham/light/gotham-light-webfont.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('/fonts/gotham/medium/gotham-medium-webfont.woff2') format('woff2'),
       url('/fonts/gotham/medium/gotham-medium-webfont.woff') format('woff'),
       url('/fonts/gotham/medium/gotham-medium-webfont.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('/fonts/gotham/bold/gotham-bold-webfont.woff2') format('woff2'),
       url('/fonts/gotham/bold/gotham-bold-webfont.woff') format('woff'),
       url('/fonts/gotham/bold/gotham-bold-webfont.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('/fonts/gotham/black/gotham-black-webfont.woff2') format('woff2'),
       url('/fonts/gotham/black/gotham-black-webfont.woff') format('woff'),
       url('/fonts/gotham/black/gotham-black-webfont.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

/*@font-face {*/
/*  font-family: 'Gotham Book';*/
/*  src: url('gotham/book/gotham-book-webfont.woff2') format('woff2'),*/
/*       url('gotham/book/gotham-book-webfont.woff') format('woff'),*/
/*       url('gotham/book/gotham-book-webfont.ttf') format('truetype');*/
/*  font-weight: 500;*/
/*  font-style: normal;*/
/*}*/